language: ruby
rvm:
- 2.3
before_install:
- gem install bundler
deploy:
  provider: rubygems
  api_key:
    secure: jK0UvyOVzaHJoCUoSmi9WcrzdAyX5KnCabECehowi3qtCT5udZm7ud/eUw8AWw0kj5vvlHseMm/peg6Nk9H5DwhjVc4EMMFy/Ro19xWKBaKal0ud9ASP2jarN2uzrLk8X8jarluIsjepUVAndZ41sH11bVhxk3cp+HxqCiIHrio7hSh+di4EQOXpk2nsBMEvEUGML/2DKlzuW/mqjNFEuAtsOk32uMYjyIeKgYO/a6UtD/5n4OkJ6wjFKkpuHZq9yO/crmZXuFUvKUmxufOo615qdIwJ20ZZihQkrIulTdEpqkGnTjd+OwsHh3bfGjp7uIXr29sHL+ZptlHvoju07fbXOMOkDgI0mP/41YgJGlgSb4BVXz+38fdnK2ZI8wrGqEC4f/zbNldDD+e9hph2R0E/fDJPN8z6Mt0KwGXNQSVrSPVpvSOMCJHIMtG0OvfwdtiqjD1kiS8SO9HJZlHJ2WmD3GPfLs229b8l0dZUf3p3TyqsU+EzbgI/Zh6BEd1e3YSuQEJ8vb5LxZxXA46lYfS3p6auDpGTLMAkc19WWyRfXo6SQtJVYG8ECYfzSc+9gv/CYLzi8N5cuQyMfpdOaQ39NjGKWm0xzDEP9O3WjvJdwKUW4UIyNCrVV6fVBIe7vOiNgfXGjngYBmZMMWZW5Qrv082sE+PyyEqDm+NJCvY=
  on:
    tags: true
